ai:
    platform:
        ollama:
            endpoint: 'http://127.0.0.1:11434'

    store:
        postgres:
            movies:
                dsn: 'pgsql:host=localhost;dbname=hybrid_search'
                username: 'postgres'
                password: 'postgres'
                table_name: 'movies'
                vector_field: 'embedding'
                distance: cosine

                hybrid:
                    enabled: true
                    content_field: 'content'
                    semantic_ratio: 0.3
                    language: 'english'
                    bm25_language: 'en'
                    text_search_strategy: 'bm25'
                    rrf_k: 10
                    default_min_score: 0
                    normalize_scores: true
                    fuzzy_threshold: 0.2
                    fuzzy_weight: 0.0

    vectorizer:
        ollama:
            model: 'nomic-embed-text'
